* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, "Times New Roman"; 
  }
  
body{
    background-color: rgb(242, 244, 247);
}
  .wrapper {
    display: flex;
    flex-direction: column;
    
    width: 80vw;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  header{
    background-color: rgb(72, 128, 100);
    height: 60px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }
   
  section{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
  }
  
  img{
    width: 400px;
    height: auto;
    margin: 40px 0 40px 0;
    border: 0.5px solid black;
    border-radius: 5px;
  }
  
  h1 {
    color: rgb(72, 128, 100);
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 900;
  }
  h2 {
    color: rgb(72, 128, 100);
    margin: 15px 0 15px 0;
    font-size: 18x;
    font-weight: 600;
  }

  p{
      margin:20px 0 8px 0;
  }
  

  ul{
    margin-bottom:30px;
  }
  a{
    text-decoration: none;
  }

  li{    
    list-style: none;
    margin: 5px 0 5px 0;
}
 
footer{
    background-color: rgb(72, 128, 100);
    height: 60px;
    border-radius: 0 0 15px 15px ;
}